@page
@model XML_Project.Pages.Reviews.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Review.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Review.Name" class="control-label"></label>
                <input asp-for="Review.Name" class="form-control" />
                <span asp-validation-for="Review.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Email" class="control-label"></label>
                <input asp-for="Review.Email" class="form-control" />
                <span asp-validation-for="Review.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Location" class="control-label"></label>
                <input asp-for="Review.Location" class="form-control" />
                <span asp-validation-for="Review.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Review.Experience" class="control-label"></label>
                <input asp-for="Review.Experience" class="form-control" />
                <span asp-validation-for="Review.Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <input asp-for="Review.Rating" class="form-control" />
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Date" class="control-label"></label>
                <input asp-for="Review.Date" class="form-control" />
                <span asp-validation-for="Review.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Tags" class="control-label"></label>
                <input asp-for="Review.Tags" class="form-control" />
                <span asp-validation-for="Review.Tags" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
