html {
    font-size: 25px;
}

@media (min-width: 768px) {
    html {
        font-size: 25px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.container {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.centered {
    margin-top: 0 !important;
    padding-top: 0 !important;
    
}

body {
    margin-bottom: 60px;
    margin-top: 0px; /* Remove default margin if any */

}
body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #7be0d8 !important;
    padding: 10px 10px;
}

.navbar-brand img {
    max-width: 100px;
    height: auto;
}

.navbar-nav .nav-link {
    color: #ecf0f1;
}

    .navbar-nav .nav-link:hover {
        color: #ffffff;
        display: flex;
    }

.navbar-toggler-icon {
    color: #ecf0f1;
}

.phone-icon {
    margin-right: 5px;
}

/* Footer Specific Styles */
footer h5 {
    font-size: 1rem; /* Adjust heading size */
}

footer ul li a {
    font-size: 0.9rem; /* Adjust link size */
    color: #ffffff !important; /* Set consistent link color */
}

footer ul {
    padding-left: 0; /* Align list items */
}

footer {
    padding: 10px 0; /* Maintain footer spacing */
   
}
