@page
@model IndexModel
@{
    ViewData["Title"] = "Sips and Bites Navigator";
    var brand = ViewData["Brand"];
}

<div class="text-center">
    <h1 class="display-4">Welcome to @brand</h1>
    <p>Enjoy Best Food and Drinks in USA</p>
        <ul>
            <li>Search Brewery Names </li>
            <li>Search Brewery Location</li>
        </ul>

</div>
